{% extends 'base.html' %}
{% load static %}
{%block content%}

<head>
  <title>Games</title>

</head>
<style>
    body {
        text-align: center;
        font-size: 20px;
    }

    img {
        height:250px;
    }

    .row{
        margin: auto;
    }
</style>

<body>

  <h1>Publisher Sale!</h1>
  <p>Up to 50% off on games from NPI!</p>

  <h1 style="font-size:24px; align-self:flex-start; width:fit-content; padding:12px;">Games Recommended For You!</h1>
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">

      <div class="carousel-item" data-bs-interval="10000">
        <img class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
  <br>


  <div class="d-flex">
 <div class="d-inline-block">
     <div class="col mx-3 game">
      <h3>Cool Image Here</h3>
    </div>
 </div>
 <div class="d-inline-block">
     <div class="container">
        <h3>Insert Game Info Here</h3>
    </div>
 </div>
</div>

{% endblock %}