{% extends 'base.html' %}
{% load static %}
{%block content%}


<head>
    <title>Search</title>
    <!-- <link rel="stylesheet" href="{% static 'styles/style.css' %}"> -->
</head>

<script>
    // JavaScript code to reset the URL on page reload
    window.onload = function () {
        for (item of document.getElementsByClassName("dropdown-item")) {
            item.addEventListener("click", updateGenre);
        }
    }

    // Temporay fix because the bootstrap dropdown wasn't working
    function updateGenre(event) {
        let btn = document.getElementById("genre-button");
        btn.innerText = event.currentTarget.innerText;

        document.getElementById("genre-select").value = event.currentTarget.innerText;
    }

    function buyGame(gameID, userID){
        console.log(userID);

        if (userID == undefined || userID == ""){
            console.log("Please log in to purchase a game");
            return;
        }

        // Make an api call to move the game id to the games owned table
        respo = $.post("http://127.0.0.1:8000/api/games/purchase", {u: userID, g:gameID, t:"buy"})
    }

    function rentGame(gameID, userID){
        if (userID == undefined || userID == ""){
            console.log("Please log in to purchase a game");
            return;
        }

        // Make an api call to move the game id to the games owned table
        respo = $.post("http://127.0.0.1:8000/api/games/purchase", {u: userID, g:gameID, t:"rent"})
    }

</script>

<style>
   .field {
    width:80%;
    border:solid rgb(75, 72, 72);
    border-width:2px;
    background-color:#000F08;
    color:#136F63;
    padding:8px;
  }

  .field:focus {
    outline:none;
  }
</style>

<body style="background-color: #136F63;">
    <div class="container">
        <div class="row">
            <h2 class="col mb-3">Search for Games</h2>
        </div>
        <div class="row mb-4">
            <a>Enter the name of a game or relevant word to search for here</a>
        </div>

        <div class="row justify-content-center">
            <form method="GET" class="input-group w-50">
                <input class="field form-control" style="display: inline-flex" type="text" name="gamesearch"
                    placeholder="Search..." />
                <!-- Current solution to passing a genre to the request that the search view can see -->
                <input name="genre" value="none" hidden id="genre-select">

                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" id="genre-button" name="genre" value="genre">
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Action</li>
                        <li class="dropdown-item">Adventure</li>
                        <li class="dropdown-item">FPS</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item">Puzzle</li>

                    </ul>

                    <button type="submit" class="btn btn-primary" value="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>

            </form>

        </div>

        <div class="row justify-content-center mt-3">
            {% if results is not none%}
            {% for result in results%}
            <!-- <div class="row"> -->
            <div class="card-custom">
                <img src="{{result.image}}" alt="An image of {{result.name}}" class="card-image">
                <div class="card-body-custom">
                    <a href="/game/{{result.id}}">
                        <h4 class="game-name">{{result.name}}</h4>
                    </a>
                    <div class="game-content">
                        <p><b>Genre:</b> {{result.genre}}</p>
                        <p><b>Rating:</b> {{result.esrb}}</p>

                    </div>
                    <button class="btn btn-success me-0" onclick="rentGame('{{result.id}}', '{{user.username}}')" data-bs-toggle="modal" data-bs-target="#purchaseModal">Rent $TBD</button>
                    <button class="btn btn-info" onclick="buyGame('{{result.id}}', '{{user.username}}')" data-bs-toggle="modal" data-bs-target="#purchaseModal">Buy $TBD</button>
                </div>
            </div>
            <!-- </div> -->
            {% endfor %}
            {%else %}
            <h2>No games matching the term available. Please search for something else</h2>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}