{% extends 'base.html' %}
{% load static %}
{%block content%}


<head>
    <title>Search</title>
    <!-- <link rel="stylesheet" href="{% static 'styles/style.css' %}"> -->
</head>

<script>
    // JavaScript code to reset the URL on page reload
    window.onload = function () {
        // Check if there are URL parameters
        if (window.location.search) {
            // Replace the current URL with a new URL without parameters
            window.history.replaceState({}, document.title, window.location.pathname);
        }


        for (item of document.getElementsByClassName("dropdown-item")) {
            item.addEventListener("click", updateGenre);
        }
    }

    // Temporay fix because the bootstrap dropdown wasn't working
    function updateGenre(event) {
        let btn = document.getElementById("genre-button");
        btn.innerText = event.currentTarget.innerText;


        document.getElementById("genre-select").value = event.currentTarget.innerText;
    }

</script>

<body style="background-color: #136F63;">
    <div class="container" style="color: #f8f9fa;">
        <div class="row">
            <h2 class="col mb-3">Search for Games</h2>
        </div>
        <div class="row">
            <p>Enter the name of a game or relevant word to search for here</p>
        </div>

        <div class="row justify-content-center">
            <form method="GET" class="input-group w-50">
                <input class="search-bar form-control" style="display: inline-flex" type="text" name="gamesearch"
                    placeholder="Search..." />
                <!-- Current solution to passing a genre to the request that the search view can see -->
                <input name="genre" value="none" hidden id="genre-select">

                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" id="genre-button" name="genre" value="genre">
                        Genre
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Action</li>
                        <li class="dropdown-item">Adventure</li>
                        <li class="dropdown-item">FPS</li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item">Puzzle</li>

                    </ul>

                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </div>

            </form>

        </div>

        <div class="row justify-content-center">
            {% if results is not none%}
            {% for result in results%}
            <!-- <div class="row"> -->
            <div class="card-custom">
                <img src="{{result.image}}" alt="An image of {{result.name}}" class="card-image">
                <div class="card-body-custom">
                    <a href="/game/{{result.id}}"><h4 class="game-name">{{result.name}}</h4></a>
                    <div class="game-content">
                        <p><b>Genre:</b> {{result.genre}}</p>
                        <p><b>Rating:</b> {{result.esrb}}</p>
 
                    </div>
                    <button class="btn btn-success me-0">Rent $TBD</button>
                    <button class="btn btn-info">Buy $TBD</button>
                </div>
            </div>
            <!-- </div> -->
            {% endfor %}
            {%else %}
            <h2>No games matching the term available. Please search for something else</h2>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}